@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900; 1,14..32,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: "Noto Sans Mono";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Noto Sans Mono";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 77.5rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  border-bottom: .0625rem solid #fff
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .9375rem;
  padding-bottom: .9375rem
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .9375rem;
  font-weight: 700;
  font-size: 1.875rem
}
.header__logo img {
  width: 2.5rem
}
.header__buttons,
.header__menu {
  display: flex
}
.header__menu {
  font-size: 1.125rem;
  gap: 1.875rem
}
.header__buttons {
  gap: .9375rem
}
.header__button {
  padding: .625rem 1.875rem
}
.menu__link:hover {
  text-decoration: underline
}
.footer {
  padding: 6.25rem 0
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end
}
.footer__copyright {
  text-align: center;
  max-width: 31.25rem;
  line-height: 150%
}
.footer__build-on:not(:last-child) {
  margin-bottom: .9375rem
}
.footer__icp {
  max-width: 12.5rem
}
.footer__icp img {
  width: 100%
}
.socials-list {
  display: flex;
  align-items: center;
  gap: .9375rem
}
.socials-list__item {
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center
}
*::selection {
  background-color: #933dc9
}
main {
  padding-top: 4.3rem
}
body {
  background-color: #000
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .9375rem;
  color: #fff;
  background-color: #933dc9;
  font-weight: 600;
  border-radius: .375rem;
  transition: background-color .3s ease
}
.button__image {
  width: 1.25rem;
  height: 1.25rem
}
.button__image img {
  width: 100%
}
.button:hover {
  background-color: #7d33aa
}
.network-button {
  background-color: #000;
  border: .0625rem solid #fff
}
.network-button:hover {
  background-color: #2b2b2b
}
.title {
  font-size: 3.75rem;
  font-weight: 700
}
.hero {
  padding: 3.125rem 0;
  border-bottom: .0625rem solid #fff
}
.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding-right: 50px
}
.hero__title {
  font-size: 3.75rem;
  font-weight: 700
}
.hero__title:not(:last-child) {
  margin-bottom: 3.125rem
}
.hero__statistics {
  border: .0625rem solid #fff;
  border-radius: .625rem
}
.hero__stat-info {
  font-size: 1.25rem;
  padding: 1.25rem .9375rem
}
.hero__stat-info:not(:last-child) {
  border-bottom: .0625rem solid #fff
}
.hero__text {
  line-height: 150%
}
.hero__container {
  display: flex
}
.hero__mint-form {
  width: 50%
}
.stat__item {
  display: flex;
  font-size: 1.25rem
}
.stat__item:not(:last-child) {
  border-bottom: .0625rem solid #fff
}
.stat__key {
  width: 60%;
  border-right: .0625rem solid #fff
}
.stat__value {
  width: 40%
}
.stat__key,
.stat__value {
  text-align: center;
  padding: 1.25rem .9375rem
}
.mint-form {
  width: 50%;
  border: .0625rem solid #fff;
  border-radius: .625rem;
  padding: 1.875rem
}
.mint-form__group:not(:last-child) {
  margin-bottom: .9375rem
}
.mint-form__label {
  font-size: 1.25rem;
  font-weight: 700
}
.mint-form__label:not(:last-child) {
  margin-bottom: .9375rem
}
.mint-form__input {
  padding: .9375rem;
  border: .0625rem solid #fff;
  border-radius: .625rem
}
.mint-form__button {
  width: 100%;
  background-color: #933dc9;
  padding: .9375rem;
  border: .0625rem solid #933dc9;
  border-radius: .625rem;
  margin-top: .9375rem
}
.select {
  display: flex;
  position: relative;
  gap: .9375rem;
  justify-content: flex-start;
  align-items: center;
  padding: .9375rem;
  border: .0625rem solid #fff;
  border-radius: .625rem
}
.select__text {
  font-size: 1.25rem;
  font-weight: 800
}
.select__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 50%
}
.select__image img {
  width: 100%
}
.select::after,
.select::before {
  content: "";
  position: absolute;
  top: 50%;
  width: .625rem;
  height: .0625rem;
  background-color: #fff
}
.select::before {
  right: 1.40625rem;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.select::after {
  right: .9375rem;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.select.strategy {
  padding: 1.25rem .9375rem
}
.select.strategy__text {
  font-weight: 400
}
.weth img {
  width: 80%
}
.table-section {
  padding: 3.125rem 0;
  border-bottom: .0625rem solid #fff
}
.table-section__header {
  display: flex;
  gap: 3.125rem;
  justify-content: space-between;
  align-items: center
}
.table-section__header:not(:last-child) {
  margin-bottom: 3.125rem
}
.table-section__title {
  font-size: 3.75rem;
  font-weight: 700
}
.search {
  flex-grow: 1;
  display: flex;
  border: .0625rem solid #fff;
  border-radius: .625rem
}
.search__button,
.search__input {
  padding: .9375rem
}
.search__input {
  border-right: .0625rem solid #fff
}
.table {
  width: 100%;
  border-collapse: collapse
}
.table__cell,
.table__header {
  border: .0625rem solid #fff;
  padding: .9375rem;
  text-align: left
}
.table__cell:first-of-type {
  border-radius: .625rem
}
.table__network-icon {
  width: 1.25rem
}
.button-container {
  display: flex;
  justify-content: space-around
}
.button-container .button {
  padding: .9375rem
}